@media (max-width : 640px) {
	body {
	}

	.tab {
		z-index: 1;
		margin: 30px 0;
	}

	.tab__tabList {
		z-index: 5;
		display: none;
	}

	.tab__tabList:after {
		content: '';
		display: block;
		clear: both;
	}

	.tab__tabContents {
		border-top: solid 1px #eee;
		z-index: 3;
	}

	.tab__tabContents__item {
		border-bottom: solid 1px #eee;
		padding: 20px;
	}

	.tab__tabContents__item.is-current {
		display: block;
	}

	.tab__tabContents__heading{
		margin: 20px 0;
	}
	.tab__tabContents__item.is-current .tab__tabContents__heading {
		color: tomato;
	}

}

@media (min-width : 641px) {

	body{
		margin: 50px auto;
		width: 500px;
	}


	.tab{
		z-index:1;
		margin:30px 0;
	}
	.tab__tabList{
		z-index:5;
	}
	.tab__tabList li{
		float: left;
		border: solid 1px #eee;
		border-bottom: none;
		border-radius: 2px 2px 0 0;
		margin: 0 0 0 5px;
		padding: .75em 1em;
	}
	.tab__tabList li.is-current{
		border-bottom: solid 1px #fff;
		background: lightgoldenrodyellow;
	}
	.tab__tabList:after{
		content: '';
		display: block;
		clear: both;
	}
	.tab__tabContents{
		border: solid 1px #eee;
		padding: 1px;
		margin: -1px 0 0;
		z-index:3;
	}
	.tab__tabContents__item{
		margin: 20px;
	}
	.tab__tabContents__item.is-current{
		display: block;
	}


}
